body {
  background-color: black
}
h {
  color: white;
  font-family:"Comic Sans MS", "Comic Sans"
}
p {
  color: white;
  font-family:"Comic Sans MS", "Comic Sans"
}
body {
  color: white;
  font-family:"Comic Sans MS", "Comic Sans"
}
a {
  color: gainsboro;
  font-family:"Comic Sans MS", "Comic Sans"
}
